.titulo h1{
    font-family: "Dokdo", cursive;
    font-size: 80px;
    color: yellow;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-align: center;
}
div p {
    font-family: "Dokdo", cursive;
    font-size: 25px;
    color: yellow;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-align: center;
}

body{
    background-image: url("img/40142_pokemon.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1);
    background-color: rgba(10, 10, 10, 0.3);
    background-blend-mode: soft-light;
    margin: 0;
    padding: 0;
  
}
.one{
    position: relative;
    margin: auto;
}
.giphy-embed{
    position: relative;
    margin: auto;
    border-color: solid red;
    flood-color: 0;
    display: block;
    width: 50%;
    height: 50%;
}

#header{
    margin: auto;
    font-family: "Dokdo", cursive;
}

.nav div a{
    color: yellow;
    text-decoration:none; 
    padding: 10px 15px;
    display:block;
    font-size: 25px;
}
.nav{
    background-color: #000;
}

.nav > div {
    float: left;
}

.nav div a:hover{
    background-color: gray;
    border-radius: 7px;
}

.clear{
    clear: both;
}

.button1, .button2{
    padding: 7px 20px;
    display: inline;
    font-size: 1.5vw;
    text-align: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left:auto;
    margin-right: auto;
    width: 450px;
    
}

.phrase{
    margin: auto;
    padding: 10px;
}

.cards{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: baseline;
}
.card {
    width: 300px;
    height: 300px;
    margin: 1em;
    background:#fff;
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    border-radius: 1em;
    text-align: center;
    align-content: flex-start;
  }


.pokemonItem{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: baseline;
    background-color:;
    margin: 1%;
    
}



@media (max-width: 1400px) {
    .pokemonItem{
        display: block;
        width: 25%;
        height: 25%;
        float: left;
    }
}

@media (max-width: 600px) {   
    .pokemonItem{
        display: block;
        width: 25%;
        height: 25%;
        float: left;
    }
}
@media (max-width: 768px) {
    .pokemonItem{
        display: block;
        width: 25%;
        height: 25%;
        float: left;
    }
}
@media (max-width: 992px) {   
    .pokemonItem{
        display: block;
        width: 25%;
        height: 25%;
        float: left;
    }    
}
@media (max-width: 1200px) {
    .pokemonItem{
        display: block;
        width: 25%;
        height: 25%;
        float: left;
    }
}