
.titulo h1, p, .counterStyle, .cardName, .navbar, .cardType{
    font-family: "Dokdo", cursive;
    color: yellow;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-align: center;
}

.titulo h1{
    font-size: 8vh;
    font-size: 8vw;
}
p {
    font-size: 25px; 
}
.counterStyle, .cardName{
    font-size: 2.5vh;
    font-size: 2.5vw;
}
.cardNum{
    font-family: "Dokdo", cursive;
    font-size: 3vh;
    font-size: 3vw;
    color: green;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

body{
    background-image: url("img/40142_pokemon.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1);
    background-color: rgba(10, 10, 10, 0.575);
    background-blend-mode: soft-light;
    margin: 0;
    padding: 0;
    filter: blur(1);
    background-color: rgba(10, 10, 10, 0.575);
  
}
.one{
    position: relative;
    margin: auto;
}
.giphy-embed{
    position: relative;
    margin: auto;
    border-color: solid red;
    flood-color: 0;
    display: block;
    width: 50%;
    height: 50%;
}

#header{
    margin: auto;
    font-family: "Dokdo", cursive;
}

a:hover{
    background-color: gray;
}

.phrase{
    margin: auto;
    padding: 10px;
}

.card {
    background:#fff;
    text-align: center;
    margin-bottom: 7px;
    width: 17rem;
    height: 23rem;
  }




